<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

	<variable name="NormalLayout"
							value="${longdate} ${level:upperCase=true} ${message}" />
	<variable name="VerboseLayout"
						value="${longdate} ${level:upperCase=true} ${message}  
                    (${callsite:includSourcePath=true})" />
	<variable name="ExceptionVerboseLayout"
						value="${VerboseLayout} (${stacktrace:topFrames=10})  
                     ${exception:format=ToString}" />

	<targets async="true">
		<target name="file" xsi:type="File" fileName="${basedir}/logs/WebService.${date:format=yyyy-MM-dd}.log" archiveNumbering="Date"
						layout="${NormalLayout}">
		</target>
		<target name="detailedFile" xsi:type="File" fileName="${basedir}/logs/WebService.${date:format=yyyy-MM-dd}_DETAILED.log" archiveNumbering="Date"
						layout="${VerboseLayout}">
		</target>

		<target name="fileAsException"
						xsi:type="FilteringWrapper"
						condition="length('${exception}')>0">
			<target xsi:type="File"
							fileName="${basedir}/logs/WebService.${date:format=yyyy-MM-dd}_errors.log"
							layout="${ExceptionVerboseLayout}" />
		</target>


	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="detailedFile" />
		<logger name="*" minlevel="Warn" writeTo="detailedFile,fileAsException" />
		<logger name="*" minlevel="Trace" writeTo="file" />

	</rules>
</nlog>